[Unit]
Description=This service gracefully stops the Minecraft server and its Screen socket, and its backs up the server's world
After=network.target

[Services]
Type=oneshot
User=your_username
WorkingDirectory=/your/scripts/dir
EnvironmentFile=/your/scripts/dir/server_config.sh
ExecStart=/your/scripts/dir/server_stop.sh

[Install]
WantedBy=multi-user.target