[Unit]
Description=This service gracefully stops the Minecraft server and its Screen socket
After=network.target

[Services]
Type=oneshot
User=your_username
WorkingDirectory=/your/mcScripts/dir
EnvironmentFile=/your/mcScripts/dir/server_config.sh
ExecStart=/your/mcScripts/dir/server_stop.sh

[Install]
WantedBy=multi-user.target
